@import "Grid.scss";
@import "Colors";

.Rsvp {
	.rsvpButton {
		display: inline-block;
		margin: 1em .25em;
		padding: .5em;
		color: $green;
		border: 1px solid $green;

		&.active {
			color: white;
			background: $green;
		}
	}
}