@import "Grid";
@import "Colors";
@import "Styles";
@import "ionicons/ionicons";

.Header {  
  .fb-login-button-wrapper {
    @include column(1);
    height: 3em;
	display: table;
    z-index: 10;
    background: $fb-login-button-color;
  }

  .fb-login-button {
  	display: table-cell;
  	vertical-align: middle;
  	text-align: center;
  }
}