@import "Grid.scss";
@import "Colors";

.Logo {
  @include column(4);
  font-family: 'Le Grande Jatte';
  font-size: 2em;
  line-height: 1.5em;
  color: white;
  background-color: $green;
  text-align: center;
}