@import "Grid";
@import "Colors";
@import "ionicons/ionicons";

.Filters {
  .keywords {
    @include column(11);
    background: $light-green;
  }

  .clear {
    @include column(1);
    @extend .ion-ios7-close-empty;
    color: white;
    // why is this broken? was working w/o !important
    line-height: 3em !important; 
    background: $light-green;
    text-align: center;
  }

  .disabled {
    color: $green;
  }
}