@import "compass/reset";
@import "Grid.scss";

$fontPath: '/font';

@font-face {
    font-family: 'GeosansLight';
    src: url('#{$fontPath}/geosanslight-webfont.eot');
	src:url('#{$fontPath}/geosanslight-webfont.eot?#iefix') format('embedded-opentype'),
		url('#{$fontPath}/geosanslight-webfont.ttf') format('truetype'),
		url('#{$fontPath}/geosanslight-webfont.woff') format('woff'),
		url('#{$fontPath}/geosanslight-webfont.svg#ionicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Le Grande Jatte';
    src: url('#{$fontPath}/grandhotel-regular-webfont.eot');
	src:url('#{$fontPath}/grandhotel-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('#{$fontPath}/grandhotel-regular-webfont.ttf') format('truetype'),
		url('#{$fontPath}/grandhotel-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.Application {
  font-family: 'GeosansLight';
  font-weight: 400;
}